extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting Welcome back, 
            span=name 
    else 
        h1.greeting Welcome to Pokemans, 
            span=name 
            


append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 

block content
    .dashboard 
        .user 
            +message(opp, name)